{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb-base"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "arrow-body-style": "off",
        "no-useless-return": "off",
        "quotes": "off",
        "quote-props": "off",
        "no-param-reassign": "off",
        "no-unneeded-ternary": "off",
        "class-methods-use-this": "off",
        "prefer-promise-reject-errors": "off",
        "consistent-return": "off",
        "import/prefer-default-export": "off",
        "import/extensions": "off",
        "no-unused-vars": "off",
        "no-undef": "off",
        "react/react-in-jsx-scope": "off",
        "no-underscore-dangle": "off",
        "no-console": "off",
        "react/prop-types": "off"
    },
    "settings": {
        "react": {
          "version": "detect"
        }
    }
}
